ul{
    list-style: none;
    
}

body {
    margin: 0px;
    padding: 0px;
    }
.navbar {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 15px;
    background-color: rgb(245, 225, 235);
    border-bottom: 2px rgb(39, 28, 30);
    box-shadow: 3px 3px grey;
}
.navbar > li{

    display: flex;
    align-items: center;
}

.logo{
    height: 70px;
}

.button{
    border: 0px;
    padding: 7px 10px;
    border-radius: 8px;
    font-weight: bold;

}
.button:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.mainbutton{
    background-color: rgb(221, 192, 210);
    color: rgb(150, 127, 143);
}
.mainbutton:hover{
    background-color: rgb(192, 168, 183);
    background-color: rgb(192, 168, 183);
    box-shadow: 2px 2px rgba(134, 102, 108, 0.24);

}
.secondarybutton{
    background-color: rgb(231, 212, 227);
    color: rgb(207, 173, 192);
}
.secondarybutton:hover{
    background-color: rgb(206, 188, 202);
    color: rgb(224, 184, 207);
    box-shadow: 2px 2px rgba(170, 143, 148, 0.24);
}

.buscar{
    background-color: rgb(241, 197, 219);
    border: 1px slategray;
    border-radius: 12px;
    padding: 4px;
    
}

.buscar:focus-within{
    border: 1px rgb(196, 161, 181);
}

.buscar > input {
    outline: none;
    border: 0px;
}

.breadcardcontainer{
    display: flex;
}

.breedcard{
margin: 10px;

}
.contenedorimagen{
    width: 240px;
    height: 240px;
    display: flex;
}
.contenedorimagen > img{
    object-fit: cover;
    width: 100%;
}
